.App {
  text-align: center;
}

.App-header {
  background-color: #000;
  min-height: 100px;
  padding: 20px;
  color: white;
}

.remix-button {
  text-align: right;
  padding: 10px;
}

.logo {
  width: 100px;
}

.App-intro {
  font-size: large;
}