body {
	margin: 0px 0px 40px 0px;
	padding: 0px;
	font-family: sans-serif;
}

main {
	max-width: 1020px;
	padding: 15px;
	margin: 0px auto;
}

h2 {
	font-size: 30px;
}

a {
	color: white;
}

a:hover {
	color: #FA521A;
}

a.get-registered {
	background-color: #FA521A;
	padding: 20px;
	margin: 40px auto;
	text-decoration: none;
}

a.get-registered:hover {
	background-color: black;
}

.search-container {
	width: 100%;
	padding: 20px 0px;
	background-color: #FA521A;
}

.search-container p {
	margin-top: 0px;
}

input {
	font-size: 26px;
	padding: 20px;
	text-align: center;
	border: 0px;
	color: #FA521A;
	margin: 0px 0px 20px 0px;
}

input[type=text] {
	width: 80%;
}

input[type=radio] {
	margin: 0px 5px 0px 15px;
}

ul.grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	list-style-type: none;
	padding: 0px;
	font-size: 14px;
}

ul.grid li.col {
	width: 200px;
	text-align: center;
	background-color: black;
	color: white;
	padding: 10px;
	margin: 10px;
}

@media only screen and (max-width: 600px) {
	ul.grid li.col {
		width: 100%;
	}
}
